
body{
    background-color: black;
    color: azure;
}
h1{
margin-left: 47%;
    margin-top: 0%;
    width: 15%;

}
p{
    padding-left: 39%;
    color: rgb(96, 171, 228);
    width: 27%;
}
h2{
    margin-left: 41%;
    color: rgb(142, 211, 68);
    width: 25%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img{
    height: 250px;
    border-radius: 100%;
    box-sizing: border-box;
    margin-left: 41%; 
    margin-bottom: 0%;
    width: 15%;
}
#git{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(142, 105, 105);
    width: 27%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 100%;
    
} 
#ph{
    box-sizing: border-box;
    border: 1px solid rgb(54,48,48);
    background-color: rgb(104, 198, 151);
    width: 27%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    border-radius: 100%;
    
    
}
#fb{
    border: 1px solid blue;
    box-sizing: border-box;
    background-color: blue;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 35%;
    width: 27%;
    border-radius: 100%;
    padding-left: 12%;
}
#ins{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(228, 88, 207);
    width: 27%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#hd{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(67, 94, 231);
    width: 27%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#ff{
    color: antiquewhite;
    text-decoration: none;
}
#gt{
    color: azure;
    text-decoration: none;
}
#pn{
    color: rgb(27, 42, 212);
    text-decoration: none;
}
#is{
    color: darkblue;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hn{
    color: rgb(117, 192, 52);
    text-decoration: none;
}

#gm{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(88, 160, 228);
    width: 27%;
    margin-left: 35%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 12%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#g{
    color: rgb(124, 44, 15);
    text-decoration: none;
}