.image{
    height: 250px;
    width: 398px;
    box-sizing: border-box;
    
    
}
#main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
    
}
.receipe{
    border: 2px solid blueviolet;
    box-shadow: 8px 5px 10px blueviolet;
    width: 400px;
    
}
body{
    background: radial-gradient(white , green);
}
p{
    color: brown;
    font-weight: bold;
    margin-left: 10px;

}
button{
    background: linear-gradient(pink,red);
    border-radius: 40%;
    border: transparent;
    margin-left: 10px;
}
h2{
    color: brown;
}