.image{
    height: 250px;
    width: 399px;
    box-sizing: border-box;
    
    
}
#main{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
    
}
.receipe{
    border: 2px solid blueviolet;
    box-shadow: 8px 5px 10px blueviolet;
    width: 400px;
    
}
body{
    background: radial-gradient(white , green);
}
p{
    color: brown;
    font-weight: bold;
    margin-left: 10px;

}
button{
    background: linear-gradient(pink,red);
    border-radius: 40%;
    border: transparent;
    margin-left: 10px;
}
h2{
    color: brown;
}
@media screen and (max-width:480px) {
    #main{
        display: flex;
        flex-direction: column;
    }
}
.receipe:hover{
    background-color: rgb(110, 216, 211);
    transform: scale(1.02);
    transition: all 2s ease;
}