 
    
body{
    background-color: black;
    color: azure;
}
h1{
margin-left: 43%;
    margin-top: 0%;
    width: 20%;
    

}
p{
    margin: 5% 25%;
    color: rgb(96, 171, 228);
    width: 50%;
    display: flex;
  text-align: center;
}
h2{
    /* margin-left: 39%; */
    margin: 0% 25%;
    color: rgb(142, 211, 68);
    width: 54%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  text-align: center;
}
img{
    /* height: 300px; */
    border-radius: 100%;
    box-sizing: border-box;
    margin-left: 37.5%; 
    width: 25%;
    position: static;
}
#git{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(142, 105, 105);
    width: 58%;
    margin-left: 21%;
    padding: 1% 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 100%;
    text-align: center;
    
} 
#ph{
    box-sizing: border-box;
    border: 1px solid rgb(54,48,48);
    background-color: rgb(104, 198, 151);
    width: 58%;
    margin-left: 21%;
    padding: 1% 20%;
    border-radius: 100%;
    
    
}
#fb{
    border: 1px solid blue;
    box-sizing: border-box;
    background-color: blue;
    padding: 1% 20%;
    margin-left: 21%;
    width: 58%;
    border-radius: 100%;
    
}
#ins{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(228, 88, 207);
    width: 58%;
    margin-left: 21%;
    padding: 1% 20%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#hd{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(67, 94, 231);
    width: 58%;
    margin-left: 21%;
    padding: 1% 20%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#ff{
    color: antiquewhite;
    text-decoration: none;
}
#gt{
    color: azure;
    text-decoration: none;
    text-align: center;
}
#pn{
    color: rgb(27, 42, 212);
    text-decoration: none;
}
#is{
    color: darkblue;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hn{
    color: rgb(117, 192, 52);
    text-decoration: none;
}

#gm{
    box-sizing: border-box;
    border: 1px solid rgb(54, 48, 48);
    background-color: rgb(88, 160, 228);
    width: 58%;
    margin-left: 21%;
    padding: 1% 20%;
    font: weight 150px;;
    border-radius: 100%;
    
} 
#g{
    color: rgb(124, 44, 15);
    text-decoration: none;
}
@media screen and (min-width:760px) and (max-width:1020px) {
    section{
        margin-left: 5%;
        font-size: larger;
    }
    #dimg{
        margin-right:5%;
    }
    p{
        font-size: x-large;
        margin-left: 22%;
    }
   #pn{
    margin-left: 5%;
   }
    
    a{
        margin-left: 20%;
    }
    
}
@media screen and (min-width:1022px) {
    section{
        margin-left: 7%;
        font-size: xx-large;
    }
    h2{
        margin-left: 22%;
    }
    p{
        margin-left: 23%;
    }
    a{
        margin-left: 25%;
        font-size: xx-large;
    }
    #pn{
        margin-left: 10%;
    }
    h1{
        margin-left: 40%;
    }
    
    }
    @media screen and (min-width:1400px){
        h2{
            margin-left: 28%;
        }
        section{
            margin-left: 8%;
            font-size: xx-large
        }
        p{
            font-size: xx-large;
            margin-left: 24%;
        }
        a{
            margin-left: 25%;
        }
        #pn{
            margin-left:5% ;
        }
    
        
    }
    
}
