body {
    background-color: cadetblue;
}
#main{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: ;
}
#box1{
    height: 100px;
    width: 80px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    margin: 2px;
    border-radius: 100%;
}
#box1{
 

    animation-name: devil;
    animation-direction: alternate;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    transition: devil 5s ease;
    
    
  
    
}
#box2{
    height: 100px;
    width: 80px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    margin: 2px;
    border-radius: 100%;
}
#box2{
  animation-name: devil;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  transition: devil 5s ease;
  
  

    
}
@keyframes devil{
    0%{
        background-color: aqua;
        position:relative ;
        transform: translatex(500px);
        
        
    }
    25%{
        background-color: indigo;
        position: relative;
        top: 75vh;
        
    }
    50%{
        background-color: rgb(206, 231, 84);
        position: relative;
       
        transform: translatex(500px);
    }
    75%{
        background-color: rgb(209, 168, 209);
        position: relative;
        top: 20vh;
        

    }
    100%{
        background-color: blue;
        position: relative;
        top: 0vh;
        
    }
}


    